 <!-- About (now Publication) Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Selected Publications</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p><h3><a href="https://dl.acm.org/doi/abs/10.1145/3441852.3471231" target="_blank"><font style="color:white">Understanding Disability Services Toward Improving Graduate Student Support</font></a></h3></p>
                    <p><u>Murtaza Tamjeed</u>, Vinita Tibdewal, Madison Russell, Michael McQuaid, Tae Oh, Kristen Shinohara</p>
                    <p><i>The 23rd International ACM SIGACCESS Conference on Computers and Accessibility</i></p>
                    <br />
                    <p><h3><font style="color:white">Usability, Accessibility and Social Entanglements in Advanced Tool Use by Vision Impaired Graduate Students</font></h3></p>
                    <p><u>Murtaza Tamjeed</u>, Michael McQuaid, Kristen Shinohara</p>
                    <p><i>ACM SIGCHI CSCW2022 -- Under Review</i></p>
                    <br />
                    <p><h3><a href="https://www.microsoft.com/en-us/research/uploads/prod/2021/01/Accessible-CS-Education-in-Colleges-and-Universities_Making-K12-Ed-Accessible.pdf" target="_blank"><font style="color:white">Accessible Computing Education in Colleges and Universities</font></a></h3></p>
                    <p>Catie Baker, Andrew Begel, Matthew Butler, Anat Caspi, Ramy Ghazal, Neal Kingston, Clayton Lewis, Colleen Lewis, Kelly Mack, Irene Mbari-Kirika, Keita Ohshiro, Paige Rodeghero, Kristen Shinohara, Julie Smith, Namrata Srivastava, Kat Steele, <u>Murtaza Tamjeed</u>, John Tang, Adiam Tesfay, Momona Yamagami</p>
                    <p><i>Microsoft Fall 2021 Workshop</i></p>
                    <br />
                    <p><h3><a href="https://dl.acm.org/doi/abs/10.1145/3411764.3445281" target="_blank"><font style="color:white">Finding the Needle in a Haystack: On the Automatic Identification of Accessibility User Reviews</font></a></h3></p>
                    <p>Eman Abdullah AlOmar, Wajdi Aljedaani, <u>Murtaza Tamjeed</u>, Mohamed Wiem Mkaouer, Yasmine N. El-Glaly</p>
                    <p><i>In Procedings of the 2021 CHI Conference on Human Factors in Computing Systems 2021</i></p>
                    <br />
                    <p><h3><a href="https://scholarworks.rit.edu/theses/10511/" target="_blank"><font style="color:white">Accessibility in User Reviews for Mobile Apps: An Automated Detection Approach</font></a></h3></p>
                    <p><u>Murtaza Tamjeed</u> -- Thesis</p>
                    <p><i>Rochester Institute of Technology Scholar Works</a></i></p>
                    <br />
                    
                </div>
             
             
                <!--
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                -->
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://scholar.google.com/citations?user=eGq_1IQAAAAJ&hl=en&oi=ao" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa"></i> Check my Google Scholar
                    </a>
                </div>
            </div>
        </div>
    </section>
